<!DOCTYPE HTML>
<html>

<head>
  <title>Lauren Hallett</title>
  <meta name="description" content="Lauren Hallett's website" />
  <meta name="keywords" content="Lauren Hallett, ecology, California grassland, UC Berkeley, restoration, community" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main">
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Lauren Hallett<span class="logo_colour"></span></a></h1>
          <h2>Plant community & restoration ecology</h2>
        </div>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li class="selected"><a href="index.html">Home</a></li>   
        	 <li><a href="#.html">Research</a>
                   <ul>
                   <li><a href="#.html">Study systems</a>
 				<ul>
              <li><a href="california.html">California rangelands</a></li>
              <li><a href="serpentine.html">Serpentine grasslands</a></li>
              <li><a href="creeks.html">Urban creeks</a></li>
              <li><a href="cross_site.html">Cross-site synthesis</a></li>
                 </ul>     
                 </li>   
			<li><a href="#.html">Restoration ecology</a>
 				<ul>
              <li><a href="restorationgoals.html">Setting goals</a></li>
              <li><a href="restorationtools.html">Developing tools</a></li>
				</ul>
         		<li><a href="#.html">Community ecology</a>
                <ul>
                 <li><a href="ecostability.html">Ecosystem stability</a></li>
              <li><a href="invasion.html">Biodiversity</a></li>  
                </ul>       
                 </ul>
          </li>
          <li><a href="publications.html">Publications</a></li>
          <li><a href="cv.html">CV</a></li>
          <li><a href="contact.html">Contact me</a></li>
        </ul>
      </nav>
   </body>
