      <div id="sidebar_container">
        <div class="sidebar">
          <h3>Latest News</h3>
          <h4>New Website</h4>
          <h5>Nov 24, 2014</h5>
          <p>Finally succumbed to peer pressure and created a website! Feedback welcome :)<br /></p>
        </div>
        <div class="sidebar">
          <h3>Affiliations</h3>
          <ul>
            <li><a href="http://nature.berkeley.edu/sudinglab-wp/" target="_blank">Suding Lab</a></li>
            <li><a href="http://nature.berkeley.edu/silverlab/" target="blank">Silver Lab</a></li>
            <li><a href="http://ourenvironment.berkeley.edu/", target="blank">ESPM</a></li>
            <li><a href="http://www.erie-research.org/", target="blank">ERIE</a></li>
            <li><a href="http://instaar.colorado.edu/", target="blank">INSTAAR</a></li>
          </ul>
        </div>
      </div>